{% extends "base.html" %}

{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Uma Plataforma Virtual de Ensino
                    </h1>
                    <h2 class="splash-subhead">
                        O miniAVA é um ambiente virtual de ensino amigável ao usuário, simples e prático de usar.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Vídeo-aulas e materiais digitais</h4>
                <h3>Publique material para seus alunos</h3>
                <p>
                    Use a conta de administrador para publicar materiais para download e links para vídeo-aulas direto do miniAVA!
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">

        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Fórum de Dúvidas</h4>
                <h3>Interaja com seus alunos</h3>
                <p>
                    Todos podem interagir entre si no sistema de fórum de discussões!
                </p>
            </div>
        </div>
    </div>
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">Mural de Avisos</h4>
                <h3>Envie anúncios diretamente para os alunos</h3>
                <p>
                    Use a conta de administrador para organizar seu curso através de anúncios na página do curso! Leia o comentário de seus alunos e receba feedback constante.
                </p>
            </div>
        </div>
    </div>
{% endblock %}